<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>密码登录</title>
    <link th:href="@{/plugins/layui/css/layui.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/vue.js}"></script>
    <script type="text/javascript" th:src="@{/vue-resource.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/jquery/jquery.js}"></script>

</head>
<body>
<div style="margin-left: 30%;margin-right: 30%;margin-top: 10%" >
<ul class="layui-nav" lay-filter="">
    <li class="layui-nav-item layui-this"><a href="passwordLogin">密码登录</a></li>
    <li class="layui-nav-item "><a href="verificationLogin">邮箱验证码登录</a></li>
</ul>
    <div class="layui-form"  style="margin-top: 10%" >
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-inline" >
                <input type="text" name="userName" required  lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
                <span id="msg"></span><br>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-inline">
                <input type="text" name="passWord"  placeholder="请输入密码" autocomplete="off" class="layui-input">
            </div>
            <span id="msg_pwd"></span><br>
        </div>
        <div class="layui-form-item" >
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo" id="butLog">登录</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button><br>
            </div>
            <span id="msg_log"></span><br>
        </div >
    </div>
</div>
</body>
    <script>
        //注意：导航 依赖 element 模块，否则无法进行功能性操作
        layui.use('element', function(){
            var element = layui.element;

            //…
        });
    </script>
</html>